<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Play | ECEdemy</title>
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="assets/final_logo.ico" />
        <!-- Bootstrap icons -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- font Regular Poppins -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <!-- Core theme CSS -->
        <link href='{% static "css/play.css" %}' rel="stylesheet" />
    </head>

    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <img class="logo-img" src="assets/final-logo.svg" alt="logo">
                    <a class="navbar logo" href="index.html">ECE<span>DEMY</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="profile.html">Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="report.html">Report</a></li>
                            <li class="nav-item"><a class="nav-link" href="hall-of-fame.html">Hall of Fame</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hello, User</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="index-teacher.html">Suggest a Question</a></li>
                                    <li><a class="dropdown-item" href="login.html">Sign out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Header -->
            <section class="pt-6">
                <div class="container px-5">
                    <div class="row gx-6">
                        <div class="col-lg-6 float-start">
                            <h1 class="fw-bold text-black">MATH</h1>
                            <div class="xp-display">
                                <div class="level-emblem">
                                    <span>1</span>
                                    <img class="a-emblem" src="assets/levelshield-red.png" alt="levelshield-red">
                                </div>
                                <div class="xp-bar">
                                    <div class="position-relative bg-gray-10">
                                        <div class="progress-bar position-relative bg-primary-2 text-end px-1" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 25.5%">51</div>
                                    </div>
                                    <p class="float-end text-muted">449 XP to level 2</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 float-end">
                            <h1 class="fw-bold text-black">Focus: College Algebra</h1>
                            <div class="position-relative bg-gray-10">
                                <div class="progress-bar position-relative bg-danger text-end px-1" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:27%">27</div>
                                <div><div class="rogb-mark rogb-orange" style="left: 30%;"></div><div class="rogb-mark rogb-green" style="left: 75%;"></div><div class="rogb-mark rogb-blue" style="left: 87%;"></div></div>
                            </div>
                            <div class="float-start"><a class="btn link-primary" href="#">Change Focus</a></div>
                            <p class="float-end text-muted">1/1 correct</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Problem -->
            <section class="pb-6">
                <div class="container px-5">
                    <div class="row">
                        <div class="flex-problem d-flex">
                            <div class="col-12 flex-fill position-relative d-flex flex-column">
                                <div class="flex-problem shadow d-flex flex-column">
                                    <div class="header">
                                        <h2 class="fw-bolder">Problem</h2>
                                        <div class="d-none d-sm-block d-sm-none d-md-block"><h4 class="level fw-bold-2">Level 1</h4>
                                        <div class="level">MATH <span>+9 XP</span></div></div>
                                    </div>
                                    <div class="sub-header bg-primary">
                                        <div><strong title="Need 215 XP for Level 2 Stamina">Stamina +10</strong></div>
                                    </div>
                                    <div class="problem">
                                        <div class="problem-text">What is 777 + 773 + 737 + 733 + 377 + 373 + 337 + 333?
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">a. 4440</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                <label class="form-check-label" for="flexRadioDefault2">b. 4430</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                                <label class="form-check-label" for="flexRadioDefault3">c. 4442</label>
                                            </div>
                                            <div class="form-check">    
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                                                <label class="form-check-label" for="flexRadioDefault4">d. 4449</label>
                                            </div>
                                        </div>
                                        <div class="problem-bottom">
                                            <div class="problem-input-right float-end">
                                                <a class="btn btn-primary btn-md px-3 py-11 fs-6" href="play-solution.html">SUBMIT</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <!-- Footer-->
        <footer class="bg-dark py-2 mt-5">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-md-5 text-xl-start text-center">
                        <div class="small m-0 text-white">
                            &copy; 2021 ECEdemy. All Rights Reserved.</div></div>
                    <img class="col-md-4 logo-img-footer align-items-center" src="assets/final-logo.svg" alt="">
                    <div class="col-md-5 text-xl-end text-center">
                        <a class="link-light small" href="index.html">Home</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">About Us</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact Us</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        </main>
    </body>
</html>
